h1 {
    color: #1985EA;
    font-size: 40px;
    font-family: sans-serif;
}

h2 {
    color: #1985EA;
    font-size: 32px;
    font-family: sans-serif;
}

h3 {
    color: #1985EA;
    font-size: 28px;
    font-family: sans-serif;
}

h4 {
    color: #1985EA;
    font-size: 24px;
    font-family: sans-serif;
}

p {
    font-size: 20px;
    font-family: sans-serif;
}

li {
    font-size: 18px;
    font-family: sans-serif;
}

/* article header p {
    color: red;
} */

#author {
    font-size: 16px;
    font-style: italic;
}

#copyright {
    font-size: 12px;
    text-align: center;
}

.related {
    list-style: none;
}

.related-author {
    font-size: 16px;
    font-weight: bold;
}