h1, h2, h3, h4, p, li {
    font-family: sans-serif;
}

h1, h2, h3, h4 {
    color: #1985EA;
}

h1 {
    font-size: 40px;
    text-transform: capitalize;
}

h2 {
    font-size: 32px;
    text-transform: uppercase;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
    text-align: center;
}

p, li {
    line-height: 1.6;
}

p {
    font-size: 20px;
}

li {
    font-size: 18px;
}

/* article header p {
    color: red;
} */

#author {
    font-size: 16px;
    font-style: italic;
}

#copyright {
    font-size: 12px;
    text-align: center;
}

.related {
    list-style: none;
}

.related-author {
    font-size: 16px;
    font-weight: bold;
}

/* Misconception: this wont work */
article p:first-child {
    color: red;
}

article p:last-child {
    color: #1985EA;
}


/* Styling Links: LVHA */
a:link {
    color: #1985EA;
    text-decoration: none;
}

a:visited {
    color: #EA1985;
}

a:hover {
    color: #1985EA;
    font-weight: bold;
    text-decoration: underline;
}

a:active {
    background-color: #1985EA;
    color: white;
    font-size: initial;
}