h1, h2, h3, h4, p, li {
    font-family: sans-serif;
}

h1, h2, h3, h4 {
    color: #1985EA;
}

h1 {
    font-size: 40px;
    text-transform: capitalize;
}

h2 {
    font-size: 32px;
    text-transform: uppercase;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
    text-align: center;
}

p, li {
    line-height: 1.6;
}

p {
    font-size: 20px;
}

li {
    font-size: 18px;
}

/* article header p {
    color: red;
} */

#author {
    font-size: 16px;
    font-style: italic;
}

#copyright {
    font-size: 12px;
    text-align: center;
}

.related {
    list-style: none;
}a

.related-author {
    font-size: 16px;
    font-weight: bold;
}